<!DOCTYPE html>
<html>
<head>
	<title>GScore | Home</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	{%load staticfiles%}

	<style type="text/css">
		body {background-image: url("http://i.imgur.com/hRdn4Kb.jpg");}
		#infoDiv {background-color: #ffffff; opacity: 0.85}
		#leaderDiv {background-color: #ffffff; opacity: 0.95}}
	</style>
</head>


{%if golferModelForm %}
<div class="container" id="infoDiv">
	<h2>Please enter your round information below:</h2>		
	<form action={% url 'golfers:adduser' %} method="post">
		{% csrf_token %}
		{{ golferModelForm }}
		<input type = "submit" value = "Submit" />
</form>
</div>


{%elif courseModelForm %}
<div class="container" id="infoDiv">
	<h2>Please enter your course information below:</h2>		
	<form action={% url 'golfers:addcourse' %} method="post">
		{% csrf_token %}
		{{ courseModelForm }}
		<input type = "submit" value = "Submit" />
</form>
</div>

{%else%}
<p>Could not load form</p>
{%endif%}

</html>