<!DOCTYPE html>
<html>
<head>
	<title>GScore | Home</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	{%load staticfiles%}

	<style type="text/css">
		body {background-image: url("http://i.imgur.com/hRdn4Kb.jpg");}
		#infoDiv {background-color: #ffffff; opacity: 0.85}
		#leaderDiv {background-color: #ffffff; opacity: 0.95}
		#courseDiv {background-color: #ffffff; opacity: 0.90}
	</style>
</head>
<link rel ="stylesheet" type = "text/css" href ="{%static 'golfers/style.css'%}" />




{% if golfer_list and course_list%}
<body>
	<div class="container" id="introDiv">
	<h1>Welcome to GScore: The community golf score leader board!</h1>	
	</div>
	
	<br><br>
	<!--Round Form Data-->
	<div class="container" id="infoDiv">
		<h2>Please enter your round information below:</h2>		
		<form action={% url 'golfers:index' %} method="post">
			{% csrf_token %}
			{{ roundModelForm }}
			<input type = "submit" value = "Submit" />
	</form>
	<p>To enter a new user click <a href="{% url 'golfers:adduser'%}">here</a></p>
	<p>To enter a new course click <a href="{% url 'golfers:addcourse'%}">here</a></p>
	</div>

{%if course_list|length > 1 %}
<div class = "container" id = "courseDiv">
	<h2>Select an individual course to view scores from:</h2>
	<form action={% url 'golfers:index' %} method="post">
		{% csrf_token %}
		{{ courseSelectForm }}
		<input type = "submit" value = "Submit" />
	</form>
</div>
{%endif%}
<br><br>
	<!-- End user input -->

	<!-- Begin leaderboard -->
<div class="container" id="leaderDiv">
	{%if course_list|length > 1 %}
	<h2>Welmcome to the Overall Leaderboard</h2>
	{%else%}
	{%for course in course_list%}
	<h2>{{course.course_name}}</h2>
	<p>Located in: {{course.city}}, {{course.state}}</p>
	<p>Par for the course is: {{course.par}}</p> 
	
	{%endfor%}
	{%endif%}

	{%if round_list %}
	<table class="table table-striped">
		<thead>
      	<tr>
         	<th>Firstname</th>
         	<th>Lastname</th>
         	<th>Age</th>
         	<th>Score</th>
         	<th>Putts</th>
         	<th>GIR</th>
         	<th>Fairways</th>
         	<th>Date</th>
      	</tr>
		</thead>
    	<tbody>
    	
    	{% for round in round_list %}	
      	<tr>
         	<td>{{round.golfer.first_name}}</td>
        		<td>{{round.golfer.last_name}}</td>
        		<td>{{round.golfer.age}}</td>
        		<td>{{round.score}}</td>
        		<td>{{round.putts}}</td>
        		<td>{{round.gir}}</td>
        		<td>{{round.fairways}}</td>
        		<td>{{round.round_date}}</td>
      	</tr>
      	{% endfor %}
  	
		</tbody>
	</table>
	{%else%}
	<h2>No rounds have currently been recorded at this course.</h2>
	{%endif%}


</div>

<br><br>
<br><br>

	<!-- End leaderboard -->

</body>
{%endif %}
</html>
